In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('../../data/iris.csv')

In [12]:
df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [11]:
df['Species'].apply(lambda x: 0 if x=='Iris-setosa' else 1).value_counts()

1    100
0     50
Name: Species, dtype: int64

In [15]:
def function(a):
    
    b = 4
    
    if(a=='Iris-setosa'):
        b=0
    elif(a=='Iris-versicolor'):
        b=1
    elif(a=='Iris-virginica'):
        b=2
        
    return b

In [24]:
y=df['Species'].apply(function).to_numpy()

In [26]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [29]:
X=df.iloc[:,1:5]

In [17]:
df['Species'].apply(function).value_counts()

0    50
1    50
2    50
Name: Species, dtype: int64

In [30]:
# df['Species'].to_numpy()

In [33]:
X[y==0]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0             5.1           3.5            1.4           0.2
1             4.9           3.0            1.4           0.2
2             4.7           3.2            1.3           0.2
3             4.6           3.1            1.5           0.2
4             5.0           3.6            1.4           0.2
5             5.4           3.9            1.7           0.4
6             4.6           3.4            1.4           0.3
7             5.0           3.4            1.5           0.2
8             4.4           2.9            1.4           0.2
9             4.9           3.1            1.5           0.1
10            5.4           3.7            1.5           0.2
11            4.8           3.4            1.6           0.2
12            4.8           3.0            1.4           0.1
13            4.3           3.0            1.1           0.1
14            5.8           4.0            1.2           0.2
15            5.7           4.4            1.5           0.4
16            5.4           3.9            1.3           0.4
17            5.1           3.5            1.4           0.3
18            5.7           3.8            1.7           0.3
19            5.1           3.8            1.5           0.3
20            5.4           3.4            1.7           0.2
21            5.1           3.7            1.5           0.4
22            4.6           3.6            1.0           0.2
23            5.1           3.3            1.7           0.5
24            4.8           3.4            1.9           0.2
25            5.0           3.0            1.6           0.2
26            5.0           3.4            1.6           0.4
27            5.2           3.5            1.5           0.2
28            5.2           3.4            1.4           0.2
29            4.7           3.2            1.6           0.2
30            4.8           3.1            1.6           0.2
31            5.4           3.4            1.5           0.4
32            5.2           4.1            1.5           0.1
33            5.5           4.2            1.4           0.2
34            4.9           3.1            1.5           0.1
35            5.0           3.2            1.2           0.2
36            5.5           3.5            1.3           0.2
37            4.9           3.1            1.5           0.1
38            4.4           3.0            1.3           0.2
39            5.1           3.4            1.5           0.2
40            5.0           3.5            1.3           0.3
41            4.5           2.3            1.3           0.3
42            4.4           3.2            1.3           0.2
43            5.0           3.5            1.6           0.6
44            5.1           3.8            1.9           0.4
45            4.8           3.0            1.4           0.3
46            5.1           3.8            1.6           0.2
47            4.6           3.2            1.4           0.2
48            5.3           3.7            1.5           0.2
49            5.0           3.3            1.4           0.2

In [35]:
type(X.mean(axis=0))

pandas.core.series.Series

In [38]:
X.std(axis=0)

SepalLengthCm    0.828066
SepalWidthCm     0.433594
PetalLengthCm    1.764420
PetalWidthCm     0.763161
dtype: float64

In [37]:
X.mean(axis=0)

SepalLengthCm    5.843333
SepalWidthCm     3.054000
PetalLengthCm    3.758667
PetalWidthCm     1.198667
dtype: float64

In [43]:
X/np.array([2,1,1,1])

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0             2.55           3.5            1.4           0.2
1             2.45           3.0            1.4           0.2
2             2.35           3.2            1.3           0.2
3             2.30           3.1            1.5           0.2
4             2.50           3.6            1.4           0.2
..             ...           ...            ...           ...
145           3.35           3.0            5.2           2.3
146           3.15           2.5            5.0           1.9
147           3.25           3.0            5.2           2.0
148           3.10           3.4            5.4           2.3
149           2.95           3.0            5.1           1.8

[150 rows x 4 columns]

In [41]:
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [40]:
X-X.mean(axis =0)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0        -0.743333         0.446      -2.358667     -0.998667
1        -0.943333        -0.054      -2.358667     -0.998667
2        -1.143333         0.146      -2.458667     -0.998667
3        -1.243333         0.046      -2.258667     -0.998667
4        -0.843333         0.546      -2.358667     -0.998667
..             ...           ...            ...           ...
145       0.856667        -0.054       1.441333      1.101333
146       0.456667        -0.554       1.241333      0.701333
147       0.656667        -0.054       1.441333      0.801333
148       0.356667         0.346       1.641333      1.101333
149       0.056667        -0.054       1.341333      0.601333

[150 rows x 4 columns]